Port 2222
HostKey /home/{abci_user}/abci-sandbox-sshd/ssh_host_rsa_key
HostKey /home/{abci_user}/abci-sandbox-sshd/ssh_host_dsa_key
PubkeyAuthentication yes
AuthorizedKeysFile  abci-sandbox-sshd/authorized_keys
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
AllowUsers aaa10007lb
Subsystem   sftp    /usr/lib/ssh/sftp-server
PidFile /home/{abci_user}/abci-sandbox-sshd/sshd.pid
